body{
    background-color: grey;
}
#topNav{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr); /* Creates 3 equal horizontal columns */
    gap: 10px;
    font-size:40px;
}
iframe{
    height:100%;
    width:100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#trifold{
    display: grid;
    place-items: start center;
    grid-template-columns: 3fr 7fr 2fr;
    gap: 10px;
}
#tf-left{
    background-color: aliceblue;
    display: grid;
    place-items: start center;
    width:100%;
    border:4px solid slategray;
}
#tf-mid{
    background-color: aliceblue;
    display: grid;
    place-items: start center;
    width:100%;
    height:100%;
    border:4px solid slategray;
}
#tf-right{
    background-color: aliceblue;
    display: grid;
    place-items: start center;
    width:100%;
    border:4px solid slategray;
}

.article{
    border:4px solid slategray;
    gap:1px;
    width: 100%;
}
.article-title{
    font-size: large;
}